extends default-page.pug

block vars
  - var noLogo=true
  - var noFooter=true
  - var title=item.title

block content
  .item-page.js--details(data-items=JSON.stringify(itemsInRing))
    .item-page__nav
      .item-page__nav__inner
        .item-page__header(v-bind:style="navHeader.style")
          h3.headline
            = translate(item.quadrant)
        .item-list
          .item-list__header(v-bind:style="navHeader.style")
            .split
              .split__left
                span(class=`badge badge--big badge--${item.ring}`)
                  = item.ring
              .split__right
                a.icon-link(href=`/${item.quadrant}.html`)
                  span.icon.icon--pie.icon-link__icon
                  | Quadrant Overview
          .item-list__list
            each ringItem, i in itemsInRing
              a.item(
                class=`${ringItem.name === item.name ? 'is-active' : ''}`
                href=`/${ringItem.quadrant}/${ringItem.name}.html`
                v-bind:style=`items[${i}].style`
              )
                .item__title= ringItem.title
                if ringItem.info
                  .item__info= ringItem.info
    .item-page__content(v-bind:style="background.style")
      .item-page__content__inner(v-bind:style="text.style")
        .item-page__header
          .split
            .split__left
              h1.hero-headline.hero-headline--inverse
                = item.title
            .split__right
              span(class=`badge badge--big badge--${item.ring}`)
                = item.ring
        .markdown
          != item.body
  //-
    a(href='/' + item.quadrant + '.html')= translate(item.quadrant)
    h1 #{item.title}
      = ' '
      small #{item.ring}


    hr

    h4= item.revisions[0].version
    h5 New: #{item.isNew ? 'YES' : 'NO'}
    h5 Feature: #{item.isFeatured ? 'YES' : 'NO'}

    section
      != item.revisions[0].body
    hr

    ul
      each revision, index in item.revisions
        if index > 0
          li
            h3
              = revision.version
              = ' '
              = revision.ring
            != revision.body
