extends layout.pug

block vars
  - var title=item.attributes.title

block content
  a(href='/' + quadrantName + '.html')= translate(quadrantName)
  h1 #{item.attributes.title}
    = ' '
    small #{item.attributes.ring}


  hr

  h4= item.revisions[0].version
  h5 New: #{item.isNew ? 'YES' : 'NO'}
  h5 Feature: #{item.attributes.isFeatured ? 'YES' : 'NO'}

  section
    != item.revisions[0].body
  hr

  ul
    each revision, index in item.revisions
      if index > 0
        li
          h3
            = revision.version
            = ' '
            = revision.attributes.ring
          != revision.body
