extends default-page.pug

block vars
  - var noLogo=true
  - var title=`${translate(quadrantName)}`

block content
  .headline-group
    h1.hero-headline
      = translate(quadrantName)
  .quadrant-section
    .quadrant-section__rings
      each items, ringName in quadrant
        .quadrant-section__ring
          .item-list
            .item-list__header
              span(class=`badge badge--big badge--${ringName}`)
                = ringName
            .item-list__list
              each ringItem in items
                a.item.item--no-leading-border(href=`/${ringItem.quadrant}/${ringItem.name}.html`)
                  .item__title= ringItem.attributes.title
                  if ringItem.attributes.info
                    .item__info= ringItem.attributes.info
